<!doctype html>
<html lang="en" ng-app="FriendsList">
<head>
  <meta charset="UTF-8">
  <title>My Friends</title>
  <link rel="stylesheet" type="text/css" href="./bootstrap.min.css" />
</head>
<body>
  <div class="container">
    <div class="row text-center">
      <div ng-controller="SearchController as search">
        <button>Find Friends</button>
      </div>
    </div>
  </div>
  <div class="container">
    <!-- Friends (list form) -->
    <div class="row"
      ng-show="fc.friends"
      ng-controller="FriendsController as fc"
    >
      <h1 ng-hide="fc.friends">No Friends :(</h1>
      <ul class="list-group"
        ng-repeat="friend in fc.friends"
        >
      <!-- Info -->
        <li class="list-group-item">
          <h3>{{friend.name}}</h3>
          <em>{{friend.occupation}}</em>
        </li>
      <!-- Tabs -->
        <li ng-controller="PanelController as panel">
          <ul class="nav nav-pills" >
            <li ng-class="{ active: selected === 'description' }">
              <a ng-click="panel.selectInfo('description')">Description</a>
            </li>
            <li ng-class="{ active: selected === 'trivia' }">
              <a ng-click="panel.selectInfo('trivia')">Trivia</a>
            </li>
            <li ng-class="{ active: selected === 'nemesis' }">
              <a ng-click="panel.selectInfo('nemesis')">Nemesis</a>
            </li>
            <li ng-class="{ active: selected === 'wallPosts' }">
              <a ng-click="panel.selectInfo('wallPosts')">Wall</a>
            </li>
          </ul>
          <div class="panel" ng-show="panel.isSelected('description')">
            <h4>Description</h4>
            <p>{{friend.info.description}}</p>
          </div>
          <div class="panel" ng-show="panel.isSelected('trivia')">
            <h4>Trivia</h4>
            <p>{{friend.info.trivia}}</p>
          </div>
          <div class="panel" ng-show="panel.isSelected('nemesis')">
            <h4>Nemesis</h4>
            <p>{{friend.info.nemesis}}</p>
          </div>
          <!-- Add post form -->
          <div class="panel" ng-show="panel.isSelected('wallPosts')">
              <h4>Wall</h4>
              <blockquote ng-repeat="post in friend.info.wallPosts">
                {{post.body}}
                <br>
                <cite>- {{post.author}}</cite>
              </blockquote>
          </div>
            <form action=""
                  ng-controller="PostController as postCtrl"
                  ng-submit="postCtrl.addPost(friend)"
                  ng-show="panel.isSelected('wallPosts')"
              >
              <blockquote ng-show="postCtrl.post.body">
                {{postCtrl.post.body}}
                <br>
                <cite>- {{postCtrl.post.author}}</cite>
              </blockquote>
              <div>
                <label>Comment: </label>
                <textarea ng-model="postCtrl.post.body"></textarea>
              </div>
              <label>From: </label>
              <input ng-model="postCtrl.post.author" type="text" />
              <input type="submit" value="Add Comment" />
            </form>
          <!-- End add post form -->
        </li>
      <!-- End Tabs -->
      </ul>
    </div>
  </div>
  <script type="text/javascript" src="./angular.min.js"></script>
  <script type="text/javascript" src="./app.js"></script>
</body>
</html>
